@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

$black : #272727;
$white: #FFF;
$yellow: #fddb3a;
$blue: #DDD;
$green: #16a085;

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: $blue;
    font-family: "Montserrat", "Roboto" sans-serif;
    color: $black;
}

#error {
    color: red;
}

#success {
    color: rgb(0, 81, 255);
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

h2 {
    padding: 1em 1em;
    text-align: center;
}

#navbar {
    a, p {
        display: block;
        width: 100%;
        text-align: center;
        padding: 2% 0;
        color: $black;
        text-decoration: none;
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: 500;
        //display: inline-block;
        //width: 80px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;

        &:nth-child(1):hover ~ .dot {
            -webkit-transform: transl8ateX(30px);
            transform: translateX(30px);
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            opacity: 1;
        }

        &:nth-child(2):hover ~ .dot {
            -webkit-transform: translateX(110px);
            transform: translateX(110px);
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            opacity: 1;
        }

        &:hover {
            color: $yellow;
        }

        .dot {
            width: 6px;
            height: 6px;
            background: $yellow;
            border-radius: 50%;
            opacity: 0;
            -webkit-transform: translateX(30px);
            transform: translateX(30px);
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }
    }

    i.fa {
        top: 1%;
        position: absolute;
        left: 91%;
        font-size: 168%;
    }

    #dropDown {
        display: none;
    }

    #logo {
        background-color: $green;
    }
}

.box {
    position: relative;
    background: $white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 1em;
    height: 75em;
}

input[type="text"], input[type="email"],
input[type="password"], input[type="tel"] {
    display: block;
    margin-bottom: 2em;
    box-sizing: border-box;
    padding: 2%;
    width: 100%;
    height: 25%;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: inherit;
    font-weight: 400;
    font-size: inherit;
    transition: 0.2s ease;
    &:focus {
        border-bottom: 2px solid $yellow;
        color: $black;
        transition: 0.2s, ease;
    }
}

.btn {
    width: 100%;
    height: 3.75em;
    background-color: $green;
    border: none;
    border-radius: 2%;
    color: $white;
    font-family: inherit;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    margin-top: 3em;
    cursor: pointer;
    &:hover, &:focus {
        opacity: 0.8;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        transition: 0.1s ease;
    }
    &:active {
        opacity: 1;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
        transition: 0.1s ease;
    }
}

#registerForm {
    margin-bottom: 5em;
}

.facebook-blue {
    background-color: #4267B2;
}

.twitter-blue {
    background-color: #1DA1F2;
}

.google-yellow {
    background-color: #F4B400;
}